.dashboard {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 320px;
    min-width: 200px;
}

.guide {
    position: absolute;
    bottom: 4rem;
    color: rgba(128, 128, 128, 0.459);
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.editor_wrap {
    flex: 1;
    background-color: var(--editor-bg);
    cursor: text;
}
