.action_panel {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
.panel_button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0.7rem 1rem;
    color: var(--foreground);
    gap: 0.5rem;
    line-height: 100%;
    font-weight: 600;
    font-size: 1.25rem;
}
.panel_button:hover {
    transition: 0.2s;
    background-color: var(--hover-bg);
}

.select {
    background-color: var(--editor-bg);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
}
